<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>VendorTracker - Order Details</title>
  </head>
  <body>
    <h1>Order Details</h1>
    <h2>Title: @Model["order"].Title</h2>
    <h2>Description: @Model["order"].Description</h2>
    <h2>Cost: @Model["order"].Cost.ToString("c2")</h2>
    <h2>Date Ordered: @Model["order"].DateOrdered.Date.ToString("d")</h2>
    <h2>Date Expected: @Model["order"].DeliveryDate.Date.ToString("d")</h2>

    <div><a href="/">HOME</a></div>
  </body>
</html>